# Four collection Data Types

    1. Lists 2. Tuple 3. Set 4. Dictionary

# Lists

### Lists Allow duplicate members and also changeable

In [1]:
mylist = ["Pakistan","USA","UK","India","BAN"]
mylist

['Pakistan', 'USA', 'UK', 'India', 'BAN']

# Index value Print

In [2]:
print(mylist[1])

USA

In [3]:
print(mylist[0])

Pakistan

In [4]:
print(mylist[-1])

BAN

In [5]:
print(mylist[-2])

India

### Task 1: Print USA by using Negative Index

# Range

In [6]:
print(mylist[1:4])

['USA', 'UK', 'India']

In [8]:
print(mylist[0:2])

['Pakistan', 'USA']

In [9]:
print(mylist[4:5])

['BAN']

# Task 2: Pring "India","BAN" by using Range

In [12]:
print(mylist[-3:-1])

['UK', 'India']

In [16]:
print(mylist[:5])

['Pakistan', 'USA', 'UK', 'India', 'BAN']

In [17]:
print(mylist[:3])

['Pakistan', 'USA', 'UK']

In [18]:
print(mylist[2:])

['UK', 'India', 'BAN']

In [19]:
print(mylist[1:])

['USA', 'UK', 'India', 'BAN']

# Check if items exists

In [22]:
if "UK" in mylist:
    print("Yes It's found")

Yes It's found

In [34]:
fruits = ["Banana","Apple","Orange","Apple"]
fruits

['Banana', 'Apple', 'Orange', 'Apple']

In [35]:
fruits[0]="Grapes"

In [36]:
fruits

['Grapes', 'Apple', 'Orange', 'Apple']

In [32]:
fruits[1]="Grapes"
print(fruits)

['Grapes', 'Grapes', 'Orange', 'Apple']

In [33]:
fruits

['Grapes', 'Grapes', 'Orange', 'Apple']

# Task 3: Change object values from a range "Mango"

In [37]:
fruits

['Grapes', 'Apple', 'Orange', 'Apple']

# Append new Item

In [38]:
fruits.append("Strawberry")

In [39]:
fruits

['Grapes', 'Apple', 'Orange', 'Apple', 'Strawberry']

# Insert new Item

In [41]:
fruits.insert(2,"Guava")

In [42]:
fruits

['Grapes', 'Apple', 'Guava', 'Orange', 'Apple', 'Strawberry']

# Task 4: Create a list of 10 objects and insert item on 8th place